h1 {
    color: black;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

img {
    display: flex;
    width: 275px;
    align-items: center;
    flex-wrap: wrap;
}

p {
    font-size: 20px;
    line-height: 1.5;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

li {
    margin-right: 50px;
    text-align: center;
    list-style-type: none;
}

ul {
    font-size: 16px;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

blockquote {
    width: 50%;
    margin: auto;
}

#center-quote {
    text-align: center;
}

#images-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
